*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Hubballi', cursive;
    background-color: black;
    
}
.logo{
    color: azure;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 20px;
}

.navLinks{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.navLinks li{
    list-style: none;
}

.navLinks a{
    color: azure;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: azure;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024) {
    .navLinks{
        display: flex;
        width: 60%;
        justify-content: space-around;
    }
    
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .navLinks{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .navLinks li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.wrapper{
    position: fixed;
    bottom: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.wrapper .static-txt{

  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-left: 2px solid;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}